
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Custom scss
#myModal{
    color: #000;
}
.app-footer{
    padding: 5px;
    background-color: #fff;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    .content{
        margin-top: 10px;
    }
}