
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Custom scss
.phone-list li{
    float: left;
    width: 100%;
    span{
        float: left;
        width: 25%;
        padding-left: 5px;
    }
    span.actions{
        width: 10%;
        cursor: pointer;
    }
}
#myModal,
#updateModal{
    color: #000;
}
.app-footer{
    padding: 5px;
    background-color: #fff;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    .content{
        margin-top: 10px;
    }
}